extends layout

block content
  h1= title
  p Welcome to #{title}
  form( method="POST", action="/inicio" )
    p Ingresa el titulo de la aplicacion
    input( type="text", name="titulo", id="titulo" )
    br
    input( type="submit")
