extends layout

block content
  h1= title
  p Welcome to #{title}
  form( method="POST", action="/inicio" )
    p Ingresa el nombre de usuario
    input( type="text", name="id", id="id" )
    br
    p Ingresa la contrasenia
    input( type="text", name="contra", id="contra" )
    br
    input( type="submit")
