extends layout

block content
  h1 Hola que tal, #{title} al curso #{nombre}
  br
  h3= suma
  br
  a( href="/" ) Vamos a mongo 
  br
  form( method="POST", action="/obten" )
    p Nombre 
    input( type="text", name="nombre", id="nombre")
    br
    p Edad
    input( type="text", name="edad", id="edad")
    br
    p Color
    input( type="text", name="color", id="color")
    br
    input( type="submit" )
