extends layout

block content

	//- h1 Bienvenido #{datos[0].nombre}
	h1 Bienvenido
	br
	a( href="/registro" ) registro
	br
	a( href="/baja" ) baja
	br
	a( href="/modifica" ) modificacion
	br
	a( href="/consulta" ) consultas